########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log

########################
# typescript
########################
.tscache
.baseDir.*

########################
# sublime text
########################
*.sublime-project
*.sublime-workspace
.sublimets


########################
# project
########################
build
bower_components
typings