<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars examples with Express 4</title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        {{> navbar}}
        {{{body}}}
        {{#if user}}
        {{else}}
        {{> login-dialog}}
        {{> signup-dialog}}
        {{/if}}
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/knockout/dist/knockout.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>